:root {
    --color-anim-main: #46a0f5;
    --color-selection: #46a0f5;
    --color-class: #ffca23;
    --color-id: #50db29;
    --color-native-selection: #46a0f5;
    --tail-offset: 3.25rem;
    --tail-pos: calc(100% - var(--tail-offset));
    --color-selected-layer: #374e63;
    --layer-height: 1.41rem;
    --icon-height: 1rem;
    --border-width: 1.35px;
    --color-border-fade: #3b3b3b;
    --color-placeholder: #dddddd;
    --offset-Total: calc(var(--toolbar-height)*.75);
}

.layer-list-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1.35px solid var(--color-border); */
    border-style: solid;
    border-color: var(--color-border);
    border-width: 0px 0px 1.35px 0px;
}

.menu-ghost {
    border: 2px solid red;
}

.menu-chosen {
    border: 2px solid green;
}

/* .layer-screen-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 0px .5rem;
    height: calc(100vh - var(--offsetTotal));
} */

.screen {
    margin: .25rem .25rem 0px .25rem;
    /* width: 98%; */
    border-style: solid;
    border-color: var(--color-border);
    border-width: 0px 1.35px 1.35px 1.35px;
    height: calc(100vh - var(--toolbar-height) - .5rem);
}

.layer-wrap {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.layer-subwrap {
    border-style: solid;
    border-color: var(--color-border-fade);
    border-width: var(--border-width) 0px 0px 0px;
}

::placeholder, input {
    color: var(--color-placeholder);
}
.input-idle {
    box-sizing: border-box;
    color: var(--color-placeholder);
    height: var(--layer-height);
    padding: 0px;
}

.layer-head {
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-width: calc(100% - 2rem);
}

.layer-body {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    width: 98%;
}

.fake-focus {
    width: 1px;
    height: 1px;
    background-color: var(--color-bg);
    color: var(--color-bg);
    user-select: none;
    border: 0px solid var(--color-bg);
    outline-width: 0px;
    cursor: default;
}

span {
    white-space: pre;
    display: flex;
    align-items: center;
}

.layer-name {
    user-select: none;
    box-sizing: border-box;
    cursor: default;
    margin-left: .5rem;
    color: var(--color-placeholder);
    font-size: .9rem;
    font-family: 'Roboto';
    padding: 1px 0px 0px 0px;
    height: var(--layer-height);
    /* display: flex; */
    /* align-items: flex-end; */
    /* margin-bottom: calc(var(--layer-height) / 4); */
}

.layer-blank {
    height: var(--layer-height);
    width: 50rem;
    background-color: var(--color-bg);
}

.layer-tail {
    position: absolute;
    left: var(--tail-pos);
    z-index: 3;
    background-color: var(--color-bg);
    width: 3rem;
    padding: 0.0625rem 0.35rem 0.0625rem 0px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-style: solid;
    border-color: var(--color-border-fade);
    border-width: 0px 0px 0px var(--border-width);
}

.layer-icon > svg {
    width: 100%;
    padding: .15rem;
}

.toolbar-icon > svg {
    box-sizing: border-box;
    width: 100%;
    padding: 0px .175rem .175rem .175rem;
}


.appFooter {
  user-select: none;
  cursor: default;
  width: 98%;
  margin-left: .5rem;
  margin-right: .5rem;
  font-size: .9rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.appFooterL {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: .25rem;
}
.toggle-edit-wrap {
    cursor: pointer;
    margin-left: 1rem;
}

.appFooterR {
    box-sizing: border-box;
    width: 12rem;
    height: var(--layer-height);
    display: grid;
    /* border: 2px solid red; */
    margin-right: 1.5rem;
    grid-template-columns: repeat(6, 1fr);
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-radius: .125rem;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
}

.footer-button:hover {
    border-color: var(--color-toolbar-btn-border-hover);
    background-color: var(--color-toolbar-btn-hover);
}

.toolbar-icon {
    width: var(--layer-height);
    min-width: var(--layer-height);
    height: var(--layer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .05rem;
    border-style: solid;
    /* border-width: var */
    border-color: var(--color-border);
    margin: 0px .0625rem;
}


.layer-icon {
    width: var(--layer-height);
    min-width: var(--layer-height);
    height: var(--layer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .05rem;
    border-style: solid;
    border-color: var(--color-border);
    margin: 0px .0625rem;
}

.active-layer-icon > svg {
    width: 100%;
}

.active-layer-icon {
    width: var(--layer-height);
    min-width: var(--layer-height);
    height: var(--layer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    /* padding: .05rem;
    border-style: solid;
    border-color: var(--color-border);
    margin: 0px .0625rem; */
}

.layer-label {
    width: .3rem;
    min-width: .3rem;
    border: 1.35px solid var(--color-border);
    height: var(--layer-height)
}

.layer-selectlabel {
    border-style: solid;
    border-color: rgba(0,0,0,0.85);
    border-width: 1.35px;
    border-radius: 1px;
}

.layer-preview {
    width: var(--layer-height);
    min-width: var(--layer-height);
    height: var(--layer-height);
    border: 1px solid black;
    background-color: white;
}

.layer-tab {
    width: calc(var(--icon-height)*2);
    min-width: calc(var(--icon-height)*2);
}